:root
{
  --clr-white: #ffffff;
  --clr-blue: rgb(44, 52, 143);
  --clr-dark-dark: #1A1A1A;
  --clr-dark-med: #232323;
  --clr-dark-light: #363535;
  --clr-pink: #e8175d;
}

*
{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
  text-decoration: none;
}

/*Don't change the color of visited sites*/
a, a:visited, a:hover
{
  color: inherit;
}

.projects-container
{
  justify-self: center;
  margin: auto;
  height: 80px;
  width: 80%;
}