:root
{
  --clr-background: #ffffff;
  --clr-accent: #2c348f;
  --clr-primary: #363535;
  --clr-discrete: #363535;
  --clr-title: #e8175d;
}

*
{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
  text-decoration: none;
}

/*Don't change the color of visited sites*/
a, a:visited, a:hover
{
  color: inherit;
}

body
{
  font-family: 'Bebas Neue', cursive;
}

.projects-container
{
  justify-self: center;
  margin: auto;
  height: 80px;
  width: 70%;
  background-color: var(--clr-accent);
}