:root
{
  --clr-background: #ffffff;
  --clr-accent: #2c348f;
  --clr-primary: #363535;
  --clr-discrete: #363535;
  --clr-title: #e8175d;
}

.t-light{color: var(--clr-discrete);}
.t-dark{color: var(--clr-primary);}
.t-blue{color: var(--clr-accent);}
.t-pink{color: var(--clr-title);}
.t-white{color: var(--clr-background);}

*
{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
  text-decoration: none;
}

/*Don't change the color of visited sites*/
a, a:visited, a:hover, a:active 
{
  color: inherit;
}

a:hover
{
  color: var(--clr-title);
}

a:active
{
  color: var(--clr-accent);
}

body
{
  font-family: 'Bebas Neue', cursive;
}

.presentation-container
{ 
  margin-top: 20vh;
  display: flex;
}

.presentation-title
{
  margin-bottom: 5vh;
  font-size: 6em;
  font-weight:500;
}

.presentation-sub
{
  font-size: 3.5em;
  font-weight: 100;
}

.gradient
{
  height: 100%;
  margin: 0;
  background-image: linear-gradient(rgb(148, 232, 243, 1),rgb(148, 232, 243, 0));
}

.s-centered
{
  justify-content: center;
  align-items: center;
  text-align: center;
}