:root
{
  --clr-white: #ffffff;
  --clr-blue: rgb(44, 52, 143);
  --clr-dark-dark: #1A1A1A;
  --clr-dark-med: #232323;
  --clr-dark-light: #363535;
  --clr-pink: #e8175d;
  --clr-pink-white: #faf2f5;
}

*
{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
  text-decoration: none;
}

/*Don't change the color of visited sites*/
a, a:visited, a:hover, a:active 
{
  color: inherit;
}

a:hover
{
    color: var(--clr-pink);
}

.presentation-container
{
    position: absolute;
    top: 50%;
    bottom: 50%;
    display: flex;
}

.presentation-header
{
    font-size: 3.5vmax;
    margin : 3.5vmax 2vmax 1vmax;
    font-weight: 100;

    color : var(--clr-white);
}
.t-pink{color : var(--clr-pink);}

.presentation-subtitle
{
    margin : 0em 6em 1em 6em;

    font-size: 2.5vmax;
    font-weight: 100;
    color: var(--clr-dark-light);
}

.presentation-projects
{
    margin : 1vmax 6vmax;

    font-size: 2.5vmax;
    font-weight : 200;
    color: var(--clr-white);
}

.project-link
{
 /* animation: pulse 4s infinite;*/
  color: var(--clr-white);
}

@keyframes pulse{
  0%{
    color: var(--clr-white);
  }

  50%{
    color: var(--clr-pink-white);
  }

  100%{
    color: var(--clr-white);
  }
}

.s-centered
{
  justify-content: center;
  align-items: center;
  text-align: center;
}