:root
{
  --clr-background: #ffffff;
  --clr-accent: #2c348f;
  --clr-primary: #363535;
  --clr-discrete: #363535;
  --clr-title: #e8175d;
}

*
{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
  text-decoration: none;
}

/*Don't change the color of visited sites*/
a, a:visited, a:hover, a:active 
{
  color: inherit;
}

body
{
  font-family: 'Bebas Neue', cursive;
}

.nav-bar
{
  display: flex;
  font-weight : 100vh;
  width: 100%;
  margin: auto;
  color: var(--clr-background);
  background-color: var(--clr-primary);
}

.pages-container li
{  
  display: inline-flex;
  font-size: 2.25em;
  margin: 0 10px 0 10px;
}

.pages-container,.home-container,.socials-container
{  
  margin : auto;
  flex : 1;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.pages-container
{
  margin-left: 5em;
  justify-content: space-between;
}

.home-container
{
  text-align: center;
  font-size: 3.5em;
}

.socials-container
{
  margin-right: 5em;
  text-align: right;
  word-spacing: .25em;
}
.socials-container img
{
  padding: 5px;
  height: 2em;
  width: 2em;
}

.presentation-container
{
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.presentation-title
{
  margin-bottom: 5vh;
  font-size: 6em;
  font-weight:500;
  color: var(--clr-accent); 
}

.presentation-sub
{
  font-size: 3.5em;
  font-weight: 100;
  color: var(--clr-discrete); 
}