:root
{
  --clr-white: #ffffff;
  --clr-blue: rgb(44, 52, 143);
  --clr-dark-dark: #1A1A1A;
  --clr-dark-med: #232323;
  --clr-dark-light: #363535;
  --clr-pink: #e8175d;
}

*
{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
  text-decoration: none;
}

@font-face 
{
  font-family: "Bitstream Vera Serif Bold";
  src: url("/static/styles/libs/font-awesome/fonts/fontawesome-webfont.fdf491ce5ff5.woff");
}


/*Don't change the color of visited sites*/
a, a:visited, a:hover, a:active 
{
  color: inherit;
}

a:hover
{
  color: var(--clr-pink);
}

a:active
{
  color: var(--clr-dark-light);
}

body
{
  font-family: 'Bebas Neue', cursive;
}

.nav-bar
{    
  display: flex;

  width: 100%;
  margin: auto;

  color: var(--clr-dark-light);
  background-color: var(--clr-dark-dark);
  padding: 1.5em 0 1.5em 0; 
}

.pages-container li
{  
  display: inline-flex;
  margin: 0 10px 0 10px;
}

.pages-container,.home-container,.socials-container
{  
  margin : auto;
  flex : 1;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.pages-container
{
  text-align: right;

  margin-right: 2em;
  font-size: 3em;

  justify-content: space-between;
}

.home-container
{
  text-align: left;

  margin-left: 2em;
  font-size: 3.5em;

  color: var(--clr-white);
}
/*
.socials-container
{
  margin-right: 5em;
  text-align: right;
  word-spacing: .25em;
}

.socials-container img
{
  padding: 5px;
  height: 2.5em;
  width: 2.5em;
}*/