*
{
  background-color: #222222;
}

body
{
  font-family : CenturyGothic, Arial, sans-serif;
  color : #ffff;
}

/*underling links*/
a
{
  text-decoration:none;
  color:#ffff;
}

/*Change the style when hover over*/
a:hover
{
  color:#f21bb9;
}

body
{
  vertical-align: middle;
}

h1
{
font-size: 100px;
  text-align:center;
}
