:root
{
  --clr-background: #ffffff;
  --clr-accent: #2c348f;
  --clr-primary: #363535;
  --clr-discrete: #363535;
  --clr-title: #e8175d;
}


*
{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
  background-color: var(--clr-background);
  text-decoration: none;
}

/*Don't change the color of visited sites*/
a, a:visited, a:hover, a:active {
  color: inherit;
}

body
{
  font-family: 'Bebas Neue', cursive;
}

header
{
  display: flex;
  font-weight : 100vh;
  width: 95%;
  margin: auto;
  color: var(--clr-accent);
}

.pages-container li
{  
  display: inline-flex;
  font-size: 2.5em;
  margin: 0 10px 0 10px;
}

.pages-container,.home-container,.socials-container
{  
  display: flex;
  flex : 1;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary);
}

.pages-container
{
  justify-content: space-between;
  background-color: red;
}

.home-container
{
  font-size: 3.5em;
  background-color: blue;
}

.socials-container
{
  background-color: green;
}